<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href='{% static "css/styles.css" %}' />
    <link rel="stylesheet" href='{% static "css/index.css" %}' />
    <link rel="stylesheet" href='{% static "css/footer.css" %}' />
    <link rel="stylesheet" href='{% static "css/topics.css" %}' />
    <link rel="stylesheet" href='{% static "css/select.css" %}' />


    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>TMTool</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'TMTool:index' %}">TMTool</a>

      <ul class="header-links">
        {% if user.is_authenticated %}
        <li><a href="{% url 'TMTool:topics' %}">Topics</a></li>
        <li class="navbar-text">Hello, {{ user.username }}</li>
        <li><a href="{% url 'users:logout' %}">Log out</a></li>
        {% else %}
        <li class="nav-btn">
          <a href="{% url 'users:register' %}">Register</a>
        </li>
        <li class="nav-btn"><a href="{% url 'users:login' %}">Log in</a></li>
        {% endif %}
      </ul>
    </nav>

    <main class="page-container">
      <div>{% block content %}{% endblock content %}</div>
    </main>
    <footer>
      <p>&copy; 2023 Your Task Management Tool</p>
    </footer>
  </body>
</html>
