{% extends "TMTool/base.html" %} {% block content %}
<div class="get-started-main-cont">
  <p class="index-paragraph">
    Efficiently manage your tasks with our powerful Task Management Tool. Stay
    organized, collaborate seamlessly, and boost productivity.
  </p>
  <h2 class="index-h2">Key Features:</h2>
  <ul class="main-ul">
    <li class="main-li">Intuitive task creation and assignment</li>
    <li class="main-li">Real-time collaboration with team members</li>
    <li class="main-li">Prioritization and deadline management</li>
    <li class="main-li">Customizable task categories and tags</li>
    <li class="main-li">Progress tracking and reporting</li>
  </ul>
  <p class="index-paragraph">
    Getting started is easy! Simply click the button below to create your
    account and begin managing your tasks effectively.
  </p>
 <div class="get-started-container">
  <a href="{% url 'users:register' %}" class="get-started-button btn-1"
    >Get Started</a
  >
</div> 
</div>

{% endblock content %}
