{% extends "TMTool/base.html" %}

{% block content %}
    <h2 class="topics-header">Topics</h2>

    <ul class="topics-list">
        {% for topic in topics %}
            <li>
                <a href="{% url 'TMTool:topic' topic.id %}">{{ topic }}</a>
            </li>
        {% empty %}
            <li>No topics have been added yet.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'TMTool:new_topic' %}" class="get-started-button btn-1">Add new topic</a>
{% endblock content %}
