{% extends "TMTool/base.html" %} {% block content %}

<div class="add-new-entry-container">
  <h3 class="entry-topic-label">{{ topic }}</h3>
  <form action="{% url 'TMTool:new_entry' topic.id %}" method="get">
    <button type="submit" class="add-entry-link">Add new entry</button>
  </form>
</div>

{% for entry in entries %}
<div class="entry-item">
  <div class="entry-header">
    <div class="card-header-container">
      <h4 class="card-header">{{ entry.date_added|date:'M d, Y H:i' }}</h4>
      <p class="entry-status">{{ entry.get_flag_status_display }}</p>
    </div>

    <div class="edit-entry-container">
      <form action="{% url 'TMTool:edit_entry' entry.id %}" method="get">
        <button class="edit-entry-btn" type="submit">Edit entry</button>
      </form>
    </div>
  </div>

  <div class="card-body">{{ entry.text|linebreaks }}</div>
</div>
<div class="delete-entry-container">
  <form action="{% url 'TMTool:delete_entry' entry.id %}" method="post">
    {% csrf_token %}
    <button class="delete-entry-btn" type="submit">Delete Entry</button>
  </form>
</div>
{% empty %}
<div class="entry-item">
<p>No entries have been added yet.</p>

</div>
{% endfor %} {% endblock content %}
