.create-new-entry-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
}
.entry-text-area {
  max-width: 770px;
  width: 100%;
  color: initial;
  display: inline-block;
  background-color: white;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
}

.entry-form {
  width: 100%;
}

.add-entry-btn-cont {
  display: flex;
  justify-content: center;
}

.topic-label {
  text-decoration: none;
  color: black;
}

.topic-label:hover {
  color: #1c07a7;
}

.entry-label {
}

.add-entry-link {
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid black;
  background: linear-gradient(
      90deg,
      var(--c1, #b3c8e6),
      var(--c2, #4c99ff) 51%,
      var(--c1, #ed8ffc)
    )
    var(--x, 0) / 200% border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.add-entry-link:hover {
  --x: 100%;
}

.add-new-entry-container {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  background-color: inherit;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.entry-item {
  padding: 15px;
  width: 100%;
  background-color: white;
  border: 1px black solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.delete-entry-container {
  padding: 15px;
  display: flex;
  background-color: rgb(179, 200, 230);
  justify-content: end;
  width: 100%;
}

.delete-entry-btn {
  transition: 0.5s;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid black;
  background: linear-gradient(
      90deg,
      var(--c1, #ed8ffc),
      var(--c2, #4c99ff) 51%,
      var(--c1, #b3c8e6)
    )
    var(--x, 0) / 200% border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.delete-entry-btn:hover {
  --x: 100%;
}

.entry-topic-label {
  text-transform: uppercase;
  color: black;
  text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white,
    -1px 1px 1px white;
}

.card-header-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-body {
  padding: 10px;
  border: 1px dashed black;
  border-radius: 8px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.entry-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

.edit-entry-btn {
  transition: 0.5s;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid black;
  background: linear-gradient(
      90deg,
      var(--c1, #92f6a4),
      var(--c2, #4c99ff) 51%,
      var(--c1, #b3c8e6)
    )
    var(--x, 0) / 200% border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.edit-entry-btn:hover {
  --x: 100%;
}

.edit-entry-container {
  padding: 0px;
}

.class-for-created {
  padding: 10px;
  border: 1px solid black;
  font-size: 14px;
  border-radius: 50px;
  background-color: rgb(0, 252, 252);
}

.class-for-suspended {
  padding: 10px;
  border: 1px solid black;
  font-size: 14px;
  border-radius: 50px;
  background-color: rgb(203, 203, 203);
}

.class-for-in-progress {
  padding: 10px;
  border: 1px solid black;
  font-size: 14px;
  border-radius: 50px;
  background-color: rgb(91, 145, 207);
}

.class-for-done {
  padding: 10px;
  border: 1px solid rgb(1, 149, 70);
  font-size: 14px;
  border-radius: 50px;
  background-color: rgb(6, 195, 69);
}
