.create-new-entry-container {
  display: flex;
  flex-direction: column;
  /* flex-direction: column;  */
  max-width: 800px;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
}
.entry-text-area {
  max-width: 600px;
  width: 100%;
  color: initial;
  display: inline-block;
  background-color: white;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font: 400 13.3333px Arial;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(169, 169, 169);
  padding: 2px;
}

.entry-form {
  width: 100%;
}

.add-entry-btn-cont {
  display: flex;
  justify-content: center;
}
