main div {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  main h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
  
  .main-ul {
    list-style-type: none;
    padding: 0;
  }
  
  .main-li {

    border: 1px black solid;
    transition: 0.5s;
    text-align: center;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 50px; 
    border: 3px black solid; 
    background: linear-gradient(
      90deg,
      var(--c1, #b3c8e6),
      var(--c2, #4c99ff) 51%,
      var(--c1, #ed8ffc)
    )
    var(--x, 0) / 200% border-box;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  
  
  .main-li:hover {
    --x: 100%;
  }