.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: rgb(179, 200, 230);
    
}

.login-title{
    margin: 0 auto;
    padding-bottom: 20px;
}

.login-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}