
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  background-color: rgb(179, 200, 230);
}

.header-container {
  max-width: 1000px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 18px 20px;
  border-radius: 0px 0px 8px 8px;
  margin: 0 auto;
  background-color: white;
  top: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-links-item {
  white-space: nowrap;
}

nav a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

nav a:hover {
  color: #0056b3;
}

.navbar-text {
  margin-right: 10px;
  color: black;
}

.page-container {
  margin: 15px;
}

.page-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links li {
  list-style: none;
  margin-right: 10px;
}

/* topics */
.topics-header {
  font-size: 28px;
  color: black;
  margin-bottom: 20px;
}

.topics-list {
  list-style-type: none;
  padding: 0;
}

.topics-list li {
  margin-bottom: 10px;
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px black solid;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topics-list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.topics-list a:hover {
  color: #0056b3;
}

.new-topic-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
}

.new-topic-link:hover {
  background-color: #218838;
}

/* Form styles */
.form {
  margin-top: 20px;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 0.5px solid black;
}

.form input[type="text"],
.form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #747373;
  border-radius: 4px;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  border-color: #102944;
}

.form button {
  display: block;
  width: 100%;
  padding: 10px;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #102944;
}

.form input[name="csrfmiddlewaretoken"] {
  display: none;
}

.form input[name="next"] {
  display: none;
}

.center-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(179, 200, 230);
}

.block-container {
  padding-top: 15px;
  padding-bottom: 70px;
  margin: 0 auto;
  max-width: 830px;
  background-color: rgb(179, 200, 230);
}

.get-started-main-cont {
  padding: 15px;
  background-color: white;
  border: 1px black solid;
  border-radius: 8px;
}

.get-started-par {
  margin: 0 auto;
}
.get-started-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started-button {
  border: 1px solid black;
  display: inline-block;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background: linear-gradient(
      90deg,
      var(--c1, #4c99ff),
      var(--c2, #b3c8e6) 51%,
      var(--c1, #ed8ffc)
    )
    var(--x, 0) / 200%;
  color: black;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  text-decoration: none;
}

.get-started-button:hover {
  --x: 100%;
}

.btn-1 {
  --c1: #4c99ff;
  --c2: #ed8ffc;
}

.index-paragraph {
  text-align: center;
}

.index-h2 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white;
}
