.add-topic-button{
    display: inline-block;
    padding: 10px 15px 10px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background: linear-gradient(
        90deg,
        var(--c1, #000000),
        var(--c2, #116f8c) 51%,
        var(--c1, #13004d)
      )
      var(--x, 0) / 200%;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    text-decoration: none;
  }